In [1]:
%load_ext nb_black

In [2]:
# import the libraries
import pandas as pd
import numpy as np

In [3]:
# read the data
scheme_ac = pd.read_excel("F:\GoogleDrive\python\mds1410.xlsx")

In [4]:
# filter out the unecessary rows
scheme_ac = scheme_ac[pd.notnull(scheme_ac["Rate"])]

In [5]:
# scheme_ac.head(1)

In [6]:
# scheme_ac.columns.values

In [7]:
# clean the column names
scheme_ac.columns = scheme_ac.columns.str.replace("\n", " ").str.replace(" +", " ")

In [8]:
# get the maturity months
scheme_ac["Month"] = scheme_ac["Maturity Date"].dt.month

In [9]:
# get the maturity dates
scheme_ac["Year"] = scheme_ac["Maturity Date"].dt.year
scheme_ac["Year"] = scheme_ac["Year"].astype("int64")

In [10]:
# create a dictionary to replace the column values
month_dict = dict(
    {
        1: "January",
        2: "February",
        3: "March",
        4: "April",
        5: "May",
        6: "June",
        7: "July",
        8: "August",
        9: "September",
        10: "October",
        11: "November",
        12: "December",
    }
)

In [11]:
# replace month numbers with month names
scheme_ac["Month"] = scheme_ac["Month"].replace(month_dict)

In [12]:
# create a list to manage the order
months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
]

In [13]:
# tell pandas to maintain the order of the previously declared list
scheme_ac["Month"] = pd.Categorical(scheme_ac["Month"], categories=months, ordered=True)

In [14]:
# create the summary table
summary_1 = scheme_ac.groupby(["Year", "Month"])["Current Balance"].agg(
    ["count", "sum"]
)
summary_1 = summary_1.reset_index()
summary_1 = summary_1.rename(columns={"count": "NO_OF_AC", "sum": "TOTAL_BALANCE"})

In [15]:
# now turn the data frame into a pivot table and change the month number to month name using the remane (dictionary)
summary_1.pivot(index="Month", columns="Year", values="TOTAL_BALANCE").fillna(0)

Year,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
Month,,,,,,,,,,,,,,,,
January,0.00,40610.92,80450.71,0.00,253185.49,5.114333e+05,1.978450e+09,80563988.11,30465929.40,48549671.05,10299515.55,2295117.36,9233053.06,13323547.07,22446942.86,15253478.20
February,0.00,855796.78,4348.98,0.00,201055.62,0.000000e+00,1.984846e+09,70731931.63,43035595.39,46413839.75,6192186.30,4216085.64,6970191.91,9776403.91,13613396.35,12809160.52
March,0.00,23727.06,850.00,14346.15,45763.97,0.000000e+00,1.276285e+09,42505207.04,30940727.12,24170146.40,3494040.49,1698414.24,7012705.71,7079953.19,11710816.71,9701980.79
April,0.00,94007.45,0.00,0.00,0.00,0.000000e+00,1.000594e+09,36582056.56,23768915.11,14190947.07,5267744.92,2783578.35,4065833.90,9084723.59,12908035.07,6638255.84
May,0.00,38052.82,1450.30,3704.53,0.00,0.000000e+00,3.014537e+08,41226939.33,21628592.05,17784139.02,1365117.84,1566918.27,7257436.26,10611774.66,8287445.00,224436.95
June,0.00,96260.08,1437.86,363173.85,0.00,0.000000e+00,3.250853e+08,24074916.98,25661716.94,11006225.66,3735502.77,1934167.85,3904615.58,8831547.76,5929605.15,0.00
July,0.00,1030.45,0.00,0.00,0.00,0.000000e+00,2.148133e+08,32339062.47,39325444.92,12373903.67,974701.32,2372285.00,3493179.99,12126726.53,9960387.35,0.00
August,0.00,0.00,0.00,78616.46,0.00,1.331568e+05,1.816868e+08,34477012.66,49675313.79,6473911.95,859171.20,4022429.85,3827082.17,18871700.58,10961699.48,0.00
September,155177.66,0.00,0.00,131388.58,0.00,1.543346e+08,1.556072e+08,24652472.68,21496002.50,8939892.02,1295294.61,5024472.12,7162360.31,11991819.88,8986018.79,0.00
October,39080.97,2984.14,0.00,55488.95,0.00,9.521014e+08,5.915886e+07,27380948.31,29754785.41,5869184.45,1056809.58,4643155.24,6944883.97,12624545.23,7644944.93,0.00
November,1817796.13,19222.14,0.00,49165.82,7054.24,2.574176e+09,5.443178e+07,27249361.92,17331467.96,5150622.92,1152566.46,4254877.39,6802256.62,11153672.27,8385657.62,0.00
December,139620.73,4948.98,716.60,55459.01,0.00,1.232491e+09,4.909548e+07,16570600.11,19499732.72,3805520.71,867239.26,1941874.17,6177477.04,10972952.66,7807517.05,0.00